<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="qrc:/resources/plotly.min.js"></script>
  <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
  <style>
    html, body {
      margin: 0;
      height: 100%;
      width: 100%;
      overflow: hidden; /* empêche les ascenseurs */
    }
    #plot {
      border: solid 5px blue;
      width: 100%;
      height: 100%;
    }
  </style>
</head>
<body>
  <div id="plot"></div>
  <script>
    @DATA_DEF@
    var layout = {
      @LAYOUT_DEF@,
      automargin: true
    };
    Plotly.newPlot('plot', [@DATA@], layout);
    window.addEventListener('resize', () => {
      if (typeof Plotly !== 'undefined') {
          Plotly.Plots.resize('plot');
      }
    });
  </script>
</body>
</html>